@import "src/index.sass"

h1
  font-size: 2.5rem
  color: whitesmoke
  font-weight: 700
  line-height: 2.9rem
  padding-bottom: 2rem

@media (max-device-width: $mobile-width)
  html
    font-size: 10px