@import "src/index.sass"

h1
  font-size: 2.5rem
  color: whitesmoke
  font-weight: 700
  line-height: 2.9rem
  padding-bottom: 2rem
  font-family: $main-font

.text-center-align
  text-align: center

.def-family
  font-family: $main-font

.def-color
  color: $text-main-color

.def-size
  font-size: 1rem

@media (max-device-width: $mobile-width)
  html
    font-size: 10px